@page "/customer/find"
@using KamaVerification.UI.Core.Models;
@using KamaVerification.UI.Core.Services;
@inject ICustomerRepository _repo;

<PageTitle>Customer | Find</PageTitle>

<GridRow>
    <GridColumn>
        <h4><b>Find Customer by name</b></h4>
    </GridColumn>
</GridRow>

<GridRow>
    <GridColumn>
        <Form Model="@customerFind">
            <Text Label="Name" @bind-Value="customerFind.Name" HelpText="@($"The customer's name' to look for is {customerFind.Name}")"></Text>

            <Button Id="find-button" State="findButtonState" Outline="true" @onclick="HandleFindCustomerAsync" Disabled="findButtonDisabled">Find</Button>

            <Textarea Label="Customer Result" @bind-Value="customerFind.Result"></Textarea>
        </Form>
    </GridColumn>
</GridRow>

@code {
    private CustomerFind customerFind = new();
    private LoadingState findButtonState = LoadingState.Default;
    private bool findButtonDisabled => !IsFindButtonEnabled();

    public async Task HandleFindCustomerAsync()
    {
        customerFind.Result = null;
        findButtonState = LoadingState.Loading;
        customerFind.Result = await _repo.FindAsync(customerFind.Name);
        findButtonState = LoadingState.Default;
    }

    public bool IsFindButtonEnabled()
    {
        return !string.IsNullOrWhiteSpace(customerFind.Name);
    }
}
