@page "/customer/create"
@using KamaVerification.UI.Core.Models;
@using KamaVerification.UI.Core.Services;
@inject ICustomerRepository _repo;

<PageTitle>Customer | Create</PageTitle>

<h4><b>Create Customer</b></h4>

<Alert Type="AlertType.Success" Hidden="hideAlert" OnClose="OnCloseAlert">
    <AlertItem>
        <AlertText>Successfully added Customer</AlertText>
    </AlertItem>
</Alert>

<Form Model="@customerCreate" Layout="FormLayout.Horizontal">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <Text Label="Name" @bind-Value="customerCreate.Name" HelpText="@($"Required. The name will be {customerCreate.Name}")" />  
    <Select Label="Generate API Key" @bind-Value="customerCreate.GenerateApiKeyStr" Items="generateApiKeyOptions" HelpText="@("Required")" />

    <h5>Email (Optional)</h5>
    <Text Label="Subject" @bind-Value="customerCreate.EmailConfig.Subject" HelpText="Optional"></Text>
    <Text Label="From Email" @bind-Value="customerCreate.EmailConfig.FromEmail" HelpText="Optional"></Text>
    <Text Label="From Name" @bind-Value="customerCreate.EmailConfig.FromName" HelpText="Optional"></Text>
    <Text Label="Expiration (in minutes)" @bind-Value="customerCreate.EmailConfig.ExpirationInMinutesStr" HelpText="Optional"></Text>

    <Button Id="create-btn" State="createBtnState" Outline="true" @onclick="HandleCreateCustomerAsync" Disabled="createBtnDisabled">Create</Button>
</Form>

@code {
    private CustomerCreate customerCreate = new();

    private string[] generateApiKeyOptions = new string[] { "Yes", "No" };

    private bool createBtnDisabled => !IsCreateButtonEnabled();
    private LoadingState createBtnState = LoadingState.Default;
    private bool hideAlert = true;

    public async Task HandleCreateCustomerAsync()
    {
        hideAlert = true;
        createBtnState = LoadingState.Loading;

        var res = await _repo.CreateAsync(customerCreate);

        createBtnState = LoadingState.Default;
        hideAlert = false;
    }

    public bool IsCreateButtonEnabled()
    {
        return !string.IsNullOrWhiteSpace(customerCreate.Name);
    }

    public void OnCloseAlert()
    {
        hideAlert = true;
    }
}
