@page "/"

<PageTitle>Home</PageTitle>

<h1>Kama Verification</h1>

Welcome to your Kama Verification App

<ul>
    <li><a href="customer/find">Find customer by name</a></li>
    <li><a href="customer/create">Created customer</a></li>
</ul>