@page "/"
@using KamaVerification.UI.Core.Extensions
@using KamaVerification.UI.Core.Models;
@using KamaVerification.UI.Core.Services;
@inject ICustomerRepository CustomerRepository;
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Kama Verification</h1>

Welcome to your Kama Verification App

@if (CustomerRepository.IsAdmin())
{
    <ul>
        <li><a href="customer/find">Find customer by name</a></li>
        <li><a href="customer/create">Created customer</a></li>
    </ul>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await CustomerRepository.RefreshAsync();
    }
}